body {
  width: 100%;
  font-family: "Cabin", sans-serif;
}

.conteiner {
  @include margin(0, auto, 0, auto);
  max-width: 1296px;
}

.btn-header,
.button-chat,
.product-card__button:hover {
  cursor: pointer;
}