$light-blue: #10bbd5;
$dark-burgundy: #4c394e;
$dark-green: #4d762d;
$blue: #4200ff;
$lilac: #af39e7;
$pink: #ea33c0;
$beige: #f8fdfe;
$black: #000;
$dark-gray: #1f1f1f;
$white: #fff;
$light-gray: #eeeeef;
$gray: #a8a8a8;
$grizzly: #8e8e8e;
$red: #e90000;
