.footer-page {
  background-color: $dark-burgundy;
}

.footer-page__div {
  @extend %element-flex;
  @include padding(32px, 0, 32px, 0);
  color: $beige;
  font-size: 16px;
}

.footer-page__year {
  @include margin(0, 0, 0, 0);
}

.footer-page__text {
  @include margin(0, 0, 0, 0);
}
