.header-page {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  &__div-top--color-blue {
    background-color: $light-blue;
  }

  &__div-bottom--color-white {
    background-color: $white;
  }
}


.header-page__navbar {
  @include padding(16px, 0, 16px, 0);
}

.navbar {
  @extend %element-flex;
}

.navbar__logo {
  @include margin(0, 0, 0, 0);
  @include link(none, $white);
  @include padding(0, 0, 0, 25px);
  display: inline-block;
  position: relative;
  font-size: 24px;
  font-weight: 700;

  &::before {
    content: url(../images/logo-book.svg);
    width: 26px;
    height: 28px;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.navbar__cart {
  @extend %element-flex;
  gap: 8px;
}

.navbar__price {
  color: $white;
  font-size: 16px;
  @include margin(0, 0, 0, 0);
}

.navbar__digit {
  @include margin(0, 0, 0, 0);
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: $black;
  font-size: 12px;
  line-height: 20px;
}

.navbar__btn {
  @include padding(0, 0, 0, 0);
}

.btn-header {
  position: relative;
  border: none;
  background-color: $light-blue;
  background-image: url(../images/cart.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.header-page__div-menu {
  @include padding(4px, 0, 4px, 0);
}

.div-menu {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  @extend %element-flex;
}

.div-menu__title {
  @include margin(0, 0, 0, 0);
}