.main-page {
  background-color: $light-gray;
  padding-top: 104px;
}

.section {
  @include padding(32px, 0, 0, 0);
  position: relative;
}

.section__title {
  @include margin(0, 0, 0, 0);
  @include padding(0, 0, 23px, 0);
  color: $dark-gray;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid $gray;
}

.button-chat {
  @include padding(0, 0, 0, 0);
  background-color: $light-blue;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 30px;

  &--fixed {
    position: fixed;
    right: 28px;
    top: 685px;
    z-index: 1;
  }
}