.section__list {
  @include margin(0, 0, 0, 0);
  @include padding(23px, 0, 120px, 0);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}

.card-grid__product-card {
  @include padding(32px, 32px, 32px, 32px);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: $white;
  max-width: 306px;
  list-style-type: none;
  border: 1px solid $grizzly;
  height: fit-content;
}

.product-card__specials {
  position: absolute;
}

.product-card__desc {
  @include padding(4px, 8px, 4px, 8px);
  @include margin(0, 0, 0, 0);
  color: $beige;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  display: inline-block;

  &--color-blue {
    background-color: $blue;
  }

  &--color-lilac {
    background-color: $lilac;
  }

  &--color-pink {
    background-color: $pink;
  }
}

.product-card__link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-card__book {
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    overflow: visible;
    white-space: wrap;
  }
}

.product-card__button {
  @include padding(8px, 24px, 8px, 24px);
  display: inline-block;
  border: none;
  border-radius: 5px;
  color: $white;

  &--color-burgundy {
    background-color: $dark-burgundy;
  }

  &--color-green {
    background-color: $dark-green;
  }
}

.product-card__title-book {
  @include margin(0, 0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border-bottom: 1px solid $grizzly;
}

.product-card__autor {
  @include margin(0, 0, 8px, 0);
  color: $grizzly;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-card__div-price {
  display: flex;
  gap: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.product-card__price {
  @include margin(0, 0, 0, 0);

  &--original {
    color: $red;
  }
}

.product-card__price {
  @include margin(0, 0, 0, 0);

  &--discount {
    color: $grizzly;
    text-decoration: line-through;
  }
}